body {
    background-image: url(background_img.jpg);
    background-size: cover;
}

section {
    display: flex;
    margin: 10%;
    justify-content: center;
}
li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}