body {
    background-image: url(background_img.jpg);
    background-size: cover;
}

section {
    display: flex;
    margin: 10%;
    justify-content: center;
}
.push {
    margin-left: auto;
}
li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}