body {
    background-image: url(background_img.jpg);
    background-size: cover;
}

section {
    display: flex;
    margin: 10%;
    justify-content: center;
}
.main-nav {
    display: flex;
    list-style: none;
}
.push {
    margin-left: auto;
}
li {
    padding:0 20px 0 20px;
    
}